/.idea/

###> symfony/framework-bundle ###
/config/
/var/
/vendor/
/fixtures/config/jwt/
/fixtures/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###